.navigation
{
	background-color: 	 #ffd600;
	height: 5em;
}
.navigation ul li a
{
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	font-size: 1.5em;
	margin-top:1.25em;
	margin-bottom: 1.25em;
}
.navigation ul
{
	list-style-type: none;
}
#logout{
	float: right;
}
